.col-lg-6 {
    flex: 0%;
    flex-grow: 0;
}

.signup_form {
    width: 500px;
    height: 565px;
    background: #faf0f0;
    border: 1px solid #a69d9d;
    box-sizing: border-box;
    box-shadow: 10px 10px 4px rgba(178, 173, 173, 0.43);
    border-radius: 50px;
}

.line {
    border-bottom: 3px solid #857575;
    margin-right: 250px;
    margin-left: 250px;
}

.heading {
    text-align: center;
    padding-bottom: 8px;
}

.paragraph {
    color: black;
}

.paragraph a {
    font-weight: 900;
    font-size: 17px;
    color: #000000;
}

.input_box {
    box-shadow: 10px 4px 4px rgba(0, 0, 0, 0.25);
    background: #e8dee2;
    border-radius: 20px;
    margin: auto;
    width: 300px;
    height: 50px;
}

.popup_button {
    font-weight: 200;
    font-size: 16px;
    width: 130px;
    height: 36px;
    background: #47b0ec;
    box-sizing: border-box;
    border-radius: 10px;
}

.mod_head {
    border-bottom: 3px solid #111010;
}

.table_width {
    width: 80%;
}

.mod_input {
    border-radius: 6px;
    margin: auto;
    width: 320px;
    height: 40px;
}
